<div class="text-center">
    <ul class="pagination">
        {% if page == 1 %}
            <li class="disabled"><a href="#">&laquo;</a></li>
        {% else %}
            <li><a href="{{ path(app.request.get('_route'), { 'page': page-1 }) }}">&laquo;</a></li>
        {% endif %}
        {% for p in range(1, pagesCount) %}
            <li class="{{ p == page ? 'active' : '' }}">
                <a href="{{ path(app.request.get('_route'), { 'page': p }) }}">{{ p }}</a>
            </li>
        {% endfor %}
        {% if page == pagesCount %}
            <li class="disabled"><a href="#">&raquo;</a></li>
        {% else %}
            <li><a href="{{ path(app.request.get('_route'), { 'page': page+1 }) }}">&raquo;</li>
        {% endif %}
    </ul>
</div>