{% extends 'base.html.twig' %}

{% block body %}


        <div class="row MainTitle">
        	<h2>Mon Carnet de Voyage</h2>
        	<h4>histoire d'un globe trotter</h4>
        </div>


        <div class="row Articles">
        	<div class="col-xs-12 col-md-4 col-sm-6">
        		<h3 class="text-center">Chine</h3>
        		<span class="glyphicon glyphicon-user">Thomas</span><br>
        		<span class="glyphicon glyphicon-time">26/05/2017</span>
        		<img src="{{ asset('assets/img/1.jpg') }}" class="img-responsive center-block" alt="Responsive image">
        		<p>aut si quisquam, ille sapiens fuit. Quo modo, ut alia omittam, mortem filii tulit! memineram Paulum, videram Galum, sed hi in pueris, Cato in perfecto et spectato viro.
        		</p>
        	</div>

        	<div class="col-xs-12 col-md-4 col-sm-6">
        		<h3 class="text-center">Canada</h3>
        		<span class="glyphicon glyphicon-user">Victor</span><br>
        		<span class="glyphicon glyphicon-time">26/05/2017</span>
        		<img src="{{ asset('assets/img/2.jpg') }}" class="img-responsive center-block" alt="Responsive image">
        		<p>aut si quisquam, ille sapiens fuit. Quo modo, ut alia omittam, mortem filii tulit! memineram Paulum, videram Galum, sed hi in pueris, Cato in perfecto et spectato viro.
        		</p>
        	</div>

        	<div class="col-xs-12 col-md-4 col-sm-6">
        		<h3 class="text-center">Sénégal</h3>
        		<span class="glyphicon glyphicon-user">Thomas</span><br>
        		<span class="glyphicon glyphicon-time">26/05/2017</span>
        		<img src="{{ asset('assets/img/3.jpg') }}" class="img-responsive center-block" alt="Responsive image">
        		<p>aut si quisquam, ille sapiens fuit. Quo modo, ut alia omittam, mortem filii tulit! memineram Paulum, videram Galum, sed hi in pueris, Cato in perfecto et spectato viro.
        		</p>
        	</div>

        	<div class="col-xs-12 col-md-4 col-sm-6">
        		<h3 class="text-center">Chine</h3>
        		<span class="glyphicon glyphicon-user">Thomas</span><br>
        		<span class="glyphicon glyphicon-time">26/05/2017</span>
        		<img src="{{ asset('assets/img/1.jpg') }}" class="img-responsive center-block" alt="Responsive image">
        		<p>aut si quisquam, ille sapiens fuit. Quo modo, ut alia omittam, mortem filii tulit! memineram Paulum, videram Galum, sed hi in pueris, Cato in perfecto et spectato viro.
        		</p>
        	</div>

        	<div class="col-xs-12 col-md-4 col-sm-6">
        		<h3 class="text-center">Canada</h3>
        		<span class="glyphicon glyphicon-user">Victor</span><br>
        		<span class="glyphicon glyphicon-time">26/05/2017</span>
        		<img src="{{ asset('assets/img/2.jpg') }}" class="img-responsive center-block" alt="Responsive image">
        		<p>aut si quisquam, ille sapiens fuit. Quo modo, ut alia omittam, mortem filii tulit! memineram Paulum, videram Galum, sed hi in pueris, Cato in perfecto et spectato viro.
        		</p>
        	</div>

        	<div class="col-xs-12 col-md-4 col-sm-6">
        		<h3 class="text-center">Sénégal</h3>
        		<span class="glyphicon glyphicon-user">Thomas</span><br>
        		<span class="glyphicon glyphicon-time">26/05/2017</span>
        		<img src="{{ asset('assets/img/3.jpg') }}" class="img-responsive center-block" alt="Responsive image">
        		<p>aut si quisquam, ille sapiens fuit. Quo modo, ut alia omittam, mortem filii tulit! memineram Paulum, videram Galum, sed hi in pueris, Cato in perfecto et spectato viro.
        		</p>
        	</div>


        </div>

    


{% endblock %}