{% extends 'base.html.twig' %}

{% block body %}


    <div class="row MainTitle">
    <div class="col-lg-12">
    <h2 class="TitleTop letters"  data-letters="Carnet de voyage">Carnet de voyage</h2>
       <h4>histoire d'un globe trotter</h4>
    </div>
   </div>

   <hr>

   <div class="container-fluid Presentation text-center">
    <h3>Bienvenue sur mon blog à l’international</h3>
    <p class="PresentationLine">Vous êtes curieux, vous aimez voyager ? Ce blog est fait pour vous ! Je vous fais voyager sans que vous ayez besoin de quitter votre salon, et si l’envie vous prend d’aller à l’étranger, je vous invite à consulter les villes que j’ai déjà visitées afin de passer un séjour optimal.</p>
    <p class="PresentationLine">Ne perdez plus de temps à vous demander si tel restaurant vaut mieux qu’un autre. Évitez les déceptions ! Votre fidèle serviteur à testé pour vous les restaurants, sites touristiques, hôtels, ....</p>
    <p>L’inscription est gratuite alors n’hésitez pas.</p>
</div>


<div class="row Articles">
   <div class="col-xs-12 col-md-4 col-sm-6">
      <h3 class="text-center">Chine</h3>
      <span class="glyphicon glyphicon-user">Thomas</span><br>
      <span class="glyphicon glyphicon-time">26/05/2017</span>
      <img src="{{ asset('assets/img/1.jpg') }}" class="img-responsive center-block" alt="Responsive image">
      <p>aut si quisquam, ille sapiens fuit. Quo modo, ut alia omittam, mortem filii tulit! memineram Paulum, videram Galum, sed hi in pueris, Cato in perfecto et spectato viro.
      </p>
  </div>

  <div class="col-xs-12 col-md-4 col-sm-6">
      <h3 class="text-center">Canada</h3>
      <span class="glyphicon glyphicon-user">Victor</span><br>
      <span class="glyphicon glyphicon-time">26/05/2017</span>
      <img src="{{ asset('assets/img/2.jpg') }}" class="img-responsive center-block" alt="Responsive image">
      <p>aut si quisquam, ille sapiens fuit. Quo modo, ut alia omittam, mortem filii tulit! memineram Paulum, videram Galum, sed hi in pueris, Cato in perfecto et spectato viro.
      </p>
  </div>

  <div class="col-xs-12 col-md-4 col-sm-6">
      <h3 class="text-center">Sénégal</h3>
      <span class="glyphicon glyphicon-user">Thomas</span><br>
      <span class="glyphicon glyphicon-time">26/05/2017</span>
      <img src="{{ asset('assets/img/3.jpg') }}" class="img-responsive center-block" alt="Responsive image">
      <p>aut si quisquam, ille sapiens fuit. Quo modo, ut alia omittam, mortem filii tulit! memineram Paulum, videram Galum, sed hi in pueris, Cato in perfecto et spectato viro.
      </p>
  </div>


  <div class="col-xs-12 col-md-4 col-sm-6">
      <h3 class="text-center">Chine</h3>
      <span class="glyphicon glyphicon-user">Thomas</span><br>
      <span class="glyphicon glyphicon-time">26/05/2017</span>
      <img src="{{ asset('assets/img/1.jpg') }}" class="img-responsive center-block" alt="Responsive image">
      <p>aut si quisquam, ille sapiens fuit. Quo modo, ut alia omittam, mortem filii tulit! memineram Paulum, videram Galum, sed hi in pueris, Cato in perfecto et spectato viro.
      </p>
  </div>

  <div class="col-xs-12 col-md-4 col-sm-6">
      <h3 class="text-center">Canada</h3>
      <span class="glyphicon glyphicon-user">Victor</span><br>
      <span class="glyphicon glyphicon-time">26/05/2017</span>
      <img src="{{ asset('assets/img/2.jpg') }}" class="img-responsive center-block" alt="Responsive image">
      <p>aut si quisquam, ille sapiens fuit. Quo modo, ut alia omittam, mortem filii tulit! memineram Paulum, videram Galum, sed hi in pueris, Cato in perfecto et spectato viro.
      </p>
  </div>

  <div class="col-xs-12 col-md-4 col-sm-6">
      <h3 class="text-center">Sénégal</h3>
      <span class="glyphicon glyphicon-user">Thomas</span><br>
      <span class="glyphicon glyphicon-time">26/05/2017</span>
      <img src="{{ asset('assets/img/3.jpg') }}" class="img-responsive center-block" alt="Responsive image">
      <p>aut si quisquam, ille sapiens fuit. Quo modo, ut alia omittam, mortem filii tulit! memineram Paulum, videram Galum, sed hi in pueris, Cato in perfecto et spectato viro.
      </p>
  </div>


</div>

 <a href="#" class="fa fa-chevron-up fa-2x" aria-hidden="true" id="toTop"></a>


{% endblock %}
