{% extends 'base.html.twig' %}

{% block body %}

	{% if article.isDraft != 1 %}

	<div class="row {% if article.image != NULL %} haveImage {% endif %}" style="background-image: url({{ asset("uploads/articles/") }}{{ article.image }});">
		<h1 class="text-center">{{ article.title }}</h1>

	</div>

	<div class="row container">
		<h4>Author, {{ article.createdAt | date('Y-m-d') }}, {{ article.createdAt | date('H:i:s') }}</h4>
	</div>


	<div class="row article-content container">

		{{ article.text | raw }}

	</div>

	{% else %}

		<h1 class="text-center">Article indisponible</h1>

	{% endif %}

{% endblock %}