{% extends 'base.html.twig' %}

{% block body %}

	{% if article.isDraft != 1 %}

	<div class="row">
	<h1 class="text-center">{{ article.title }}</h1>
	{% if article.image != NULL %}
	<img width="100%;" class="center-block" src="{{ asset('uploads/articles/') }}{{ article.image }}">
	{% endif %}

	</div>

	<hr>

	<div class="row container">
		<h4 class="text-center">{# Author,  #}<span class="glyphicon glyphicon-time">{{ article.createdAt | date('Y-m-d') }}, {{ article.createdAt | date('H:i:s') }}</h4>
	</div>

	<hr>


	<div class="row article-content container">

		{{ article.text | raw }}

	</div>

	{% else %}

		<h1 class="text-center">Article indisponible</h1>

	{% endif %}

{% endblock %}